.cursor {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255, 0.9);
  position: fixed;
  pointer-events: none;
  z-index: 5;
  mix-blend-mode: difference;
  clip-path: polygon(
    64% 95%,
    41% 59%,
    27% 72%,
    23% 12%,
    73% 43%,
    56% 50%,
    80% 85%
  );
}

@keyframes cursorAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: rotate(-15deg);
  }
  100% {
    opacity: 1;
  }
}

.expand {
  animation: cursorAnim 0.5s forwards;
}
