.footer-container {
  width: 100%;
  height: 50vh;
  position: relative;
  flex-direction: column;
  padding: 3%;
  padding-bottom: 0px;
  background-color: var(--white);

  .top-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75%;

    .title {
      color: var(--black);
      font-weight: 700;
      font-size: 8vw;
      text-transform: uppercase;
    }
  }

  .bottom-footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .copyright {
      color: var(--black);
      font-weight: 500;
    }

    .time-container {
      .time {
        color: var(--black);
        text-align: right;
      }
    }
  }
}
