.footer-container {
  width: 100%;
  height: 50vh;
  position: relative;
  flex-direction: column;
  padding: 3%;
  padding-bottom: 0px;
  background-color: var(--white);

  @media screen and (max-width: 912px) {
    height: 25vh;
  }

  .top-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75%;

    @media screen and (max-width: 912px) {
      align-items: flex-end;
    }

    .title {
      color: var(--black);
      font-weight: 700;
      font-size: 8vw;
      text-transform: uppercase;

      @media screen and (max-width: 912px) {
        font-size: 12vw;
      }
    }
  }

  .bottom-footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .copyright {
      color: var(--black);
      font-weight: 500;
      font-size: 1.1vw;

      @media screen and (max-width: 912px) {
        font-size: 4.5vw;
      }
    }

    .time-container {
      @media screen and (max-width: 912px) {
        display: none;
      }

      .time {
        color: var(--black);
        text-align: right;
        font-size: 1.1vw;
      }
    }
  }
}
