.introduction-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .top-content-container {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
    padding-left: 10%;
    padding-top: 6%;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      height: 100%;
      gap: 5%;

      .intro {
        font-size: 42px;
        line-height: 1;
        color: var(--grey);
      }

      .animate {
        opacity: 0;
      }

      .position-container {
        height: calc(1.2 * 68px); // font size should be the same
        overflow: hidden;
        white-space: nowrap;

        .position {
          font-size: 68px;
          font-weight: 700;
          color: var(--black);
          line-height: 1.2;
        }
      }
    }
  }

  .scroll-box-container {
    display: flex;
    flex: row;
    width: 100%;
    height: 25%;

    .box {
      width: 0%;
      height: 100%;
      background-color: var(--black);
    }
  }

  .flex-image-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
    height: 75%;
    opacity: 0;

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;

      .image {
        object-fit: contain;
      }
    }
  }
}
