.my-projects-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);

  .content {
    padding: 5% 5%;
    position: relative;
    height: 100%;

    .title-container {
      width: fit-content;
      margin-bottom: 25px;
      position: absolute;
      top: 5%;
      left: 5%;

      .title {
        font-size: 64px;
        font-weight: 700;
        color: var(--black);
        padding-right: 5px;
        // cursor: pointer;
        overflow: hidden;
        border-right: 7px solid rgba(0, 0, 0, 0.75);
        white-space: nowrap;
      }
    }

    .projects-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      width: 60%;
      flex-wrap: wrap;
    }
  }
}
