.my-skills-container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;

  .title-container {
    width: fit-content;

    .title {
      font-size: 58px;
      font-weight: 200;
      color: var(--black);
      padding-right: 5px;
      // cursor: pointer;
      overflow: hidden;
      border-right: 5px solid rgba(0, 0, 0, 0.75);
      white-space: nowrap;
    }
  }

  .skill-section-container {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

    .skill-section {
      width: 100%;
      margin-bottom: 2%;

      .title {
        font-size: 28px;
        color: var(--black);
        margin-bottom: 25px;
      }

      .skills-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
      }
    }
  }
}
