.scroll-text-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.top {
    margin-top: 5%;
  }

  @media screen and (max-width: 912px) {
    &.top {
      margin-top: 10%;
    }
  }

  @media screen and (max-width: 912px) {
    &.bottom {
      margin-top: -10%;
      margin-bottom: 10%;
    }
  }

  .left-scroll-text {
    width: 150%;
    background-color: var(--black);
    color: var(--snow);
    padding: 1%;
    font-size: 3.5vw;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap;

    @media screen and (max-width: 912px) {
      font-size: 36px;
    }

    @media screen and (min-width: 2000px) {
      font-size: 3vw;
    }
  }

  .right-scroll-text {
    width: 150%;
    color: var(--black);
    padding: 1%;
    font-size: 3.5vw;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap;

    @media screen and (max-width: 912px) {
      font-size: 36px;
    }

    @media screen and (min-width: 2000px) {
      font-size: 3vw;
    }
  }
}
