.flex-image-container {
  position: absolute;
  bottom: -5%;
  right: 0px;
  width: 50%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  @media screen and (max-width: 912px) {
    width: 140%;
    height: 70%;
    right: -40%;
    bottom: -2.4%;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      object-fit: contain;
    }
  }
}
