.contact-me-button-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--snow);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 15px;
  transition: 0.2s;
  cursor: pointer;

  @media screen and (min-width: 2000px) {
    padding: 0.75vw 1.2vw;
  }

  &:hover {
    scale: 1.1;
  }

  .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    cursor: default;

    @media screen and (min-width: 2000px) {
      font-size: 1vw;
    }
  }
}
