.header-container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  padding: 0vw 3vw;
  border-bottom: 5px solid black;
  z-index: 1;

  .title-container {
    align-self: center;
    width: fit-content;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--black);
      padding-right: 5px;
      cursor: pointer;
      overflow: hidden;
      border-right: 3px solid rgba(0, 0, 0, 0.75);
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 5px;

    .location {
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }

    .social-media-links-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    }
  }
}
