.header-container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  padding: 0vw 3vw;

  .title-container {
    align-self: center;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--black);
      padding-right: 5px;
      // cursor: pointer;
      overflow: hidden;
      border-right: 3px solid rgba(0, 0, 0, 0.75);
      white-space: nowrap;
      opacity: 0;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 35px;
      height: auto;
    }
  }
}
